package $class_path;

#foreach ($package in $package_set)
import $package;
#end

#foreach ($annotations in $annotations_list)
import $annotations;
#end
public class $class_name {
#foreach ($field in $field_list)
    /**
     * $field.describe
     */
    private $field.type $field.name;
#end

    public $class_name() {
    }

    public $class_name(#foreach ($field in $field_list)$field.type $field.name#if($velocityCount != $field_list.size()), #end#end) {
#foreach ($field in $field_list)
        this.$field.name = $field.name;
#end
    }

#foreach ($field in $field_list)
    public void set${field.name.substring(0,1).toUpperCase()}${field.name.substring(1)}($field.type $field.name) {
        this.$field.name = $field.name;
    }
#end

#foreach ($field in $field_list)
    public $field.type get${field.name.substring(0,1).toUpperCase()}${field.name.substring(1)}() {
        return this.$field.name;
    }
#end
}
